/* .banner-btn:hover{
    background-image: linear-gradient(to right, #fff , #fff);
    
    color:  #0AB3E1 !important;
    border-top: 2px solid #1DD9B7;
    border-bottom: 2px solid #0AB3E1;
    border-left: 2px solid #1DD9B7;
    border-right:2px solid #0AB3E1;
} */